.shepherd-button {
  background: white;
  border: 0;
  border-radius: 3px;
  color: #0BD4C1;
  font-weight: 700;
  cursor: pointer;
  margin-right: 0.5rem;
  padding: 0.5rem 1.5rem;
  transition: all 0.5s ease;
}
.shepherd-button:not(:disabled):hover {
  color: #49F2D2;
}
.shepherd-button.shepherd-button-secondary {
  background: #ffffff;
  color: #878FB8;
}
.shepherd-button.shepherd-button-secondary:not(:disabled):hover {
    color: #49F2D2;
}
.shepherd-button:disabled {
  cursor: not-allowed;
}
.shepherd-footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 0 0.75rem 0.75rem;
}
.shepherd-footer .shepherd-button:last-child {
  margin-right: 0;
}
.shepherd-cancel-icon {
  background: transparent;
  border: none;
  color: hsla(0, 0%, 50.2%, 0.75);
  font-size: 2em;
  cursor: pointer;
  font-weight: 400;
  margin: 0;
  padding: 0;
  transition: color 0.5s ease;
}
.shepherd-cancel-icon:hover {
  color: rgba(0, 0, 0, 0.75);
}
.shepherd-has-title .shepherd-content .shepherd-cancel-icon {
  color: hsla(0, 0%, 50.2%, 0.75);
}
.shepherd-has-title .shepherd-content .shepherd-cancel-icon:hover {
  color: rgba(0, 0, 0, 0.75);
}
.shepherd-title {
  color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex: 1 0 auto;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.shepherd-header {
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: flex-end;
  line-height: 2em;
  padding: 0.75rem 0.75rem 0;
}
.shepherd-has-title .shepherd-content .shepherd-header {
  padding: 1em;
}
.shepherd-text {
  color: rgba(0, 0, 0, 0.75);
  padding: 0.75em;
  font-size: 13px;
    line-height: 20px;
}
.shepherd-text p {
  margin-top: 0;
}
.shepherd-text p:last-child {
  margin-bottom: 0;
}
.shepherd-content {
  border-radius: 5px;
  outline: none;
  padding: 0;
}
.shepherd-element {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  outline: none;
  transition: opacity 0.3s;
  z-index: 99999;
  margin-left: 10px !important;
  
  max-width: 331px;
    min-width: 150px;
}
.abajo{
    margin:10px !important;
}
.shepherd-enabled.shepherd-element {
  opacity: 1;
}
.shepherd-element,
.shepherd-element *,
.shepherd-element :after,
.shepherd-element :before {
  box-sizing: border-box;
}
.shepherd-element .shepherd-arrow {
  border: 16px solid transparent;
  content: "";
  display: block;
  height: 16px;
  pointer-events: none;
  position: absolute;
  width: 16px;
  z-index: 99999;
}
.shepherd-arrow, .shepherd-arrow:before {
    position: absolute;
    width: 16px;
    height: 16px;
    z-index: -1;
}
.shepherd-element.shepherd-element-attached-bottom.shepherd-element-attached-center
  .shepherd-arrow {
  bottom: 0;
  border-top-color: #fff;
  left: 50%;
  transform: translate(-50%, 100%);
}
.shepherd-element.shepherd-element-attached-top.shepherd-element-attached-center
  .shepherd-arrow {
  border-bottom-color: #fff;
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
}
.shepherd-element.shepherd-element-attached-top.shepherd-element-attached-center.shepherd-has-title
  .shepherd-arrow {
  border-bottom-color: #e6e6e6;
}
.shepherd-element.shepherd-element-attached-middle.shepherd-element-attached-left
  .shepherd-arrow {
  border-right-color: #fff;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  
}
.shepherd-element.shepherd-element-attached-middle.shepherd-element-attached-right
  .shepherd-arrow {
  border-left-color: #fff;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  
}
.shepherd-target-click-disabled.shepherd-enabled.shepherd-target,
.shepherd-target-click-disabled.shepherd-enabled.shepherd-target * {
  pointer-events: none;
}
.shepherd-modal-overlay-container {
  -ms-filter: progid:dximagetransform.microsoft.gradient.alpha(Opacity=50);
  filter: alpha(opacity=50);
  fill-rule: evenodd;
  height: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-out, height 0ms 0.3s, opacity 0.3s 0ms;
  width: 100vw;
  z-index: 99999;
}
.shepherd-modal-overlay-container.shepherd-modal-is-visible {
  height: 100vh;
  opacity: 0.5;
  transition: all 0.3s ease-out, height 0s 0s, opacity 0.3s 0s;
  fill: rgba(0, 19, 51, 1);
}
.shepherd-modal-overlay-container.shepherd-modal-is-visible path {
  pointer-events: all;
}

