.remix span {
    position:absolute;
    right:0;
    width:0;
    background: #fff;
    border-left: 3px solid #000;
    animation: escribir 5s steps(30) infinite alternate;
}
.sidenav .navbar-brand {
  padding: 1rem 2rem !important; 
}
.sidenav-header {
  height: 3.7rem !important;
}
.quillWrapper .ql-snow.ql-toolbar {
  background-color: #fff;
}
@keyframes escribir {
    from { width: 70% }
    to { width:24% }
}
.tooltip {
  display: block !important;
  z-index: 10000 !important;
}

.tooltip .tooltip-inner {
  background: #425b76;
  color: white;
  font-size:13px;
  font-family: AvenirNext LP Pro Regular, Helvetica, Arial, sans-serif;
  border-radius: 3px;
  padding: 5px 10px 4px;
   z-index: 10000 !important;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: #425b76;
   z-index: 10000;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 15px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 15px 15px 0 15px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -10px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
   z-index: 10000;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 10px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 15px 15px 15px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -10px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  max-width: 350px;
  width: 350px;
 border-radius: 3px;
  background-color: #fff;
    border: 0;
    box-shadow: 0 0 0 1px rgb(81 111 144 / 30%), 0 1px 24px 0 rgb(0 0 0 / 8%);
    
}
.headerss{
  display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 24px;
    background: rgb(106, 120, 209);
    color: rgb(255, 255, 255);
margin-top: -5px;
    margin-left: -10px;
    margin-right: -10px;
}

.tooltip.popover .popover-arrow {
 
    position: absolute;
    pointer-events: none;
    clip-path: polygon(100% 100%, 0px 100%, 100% 0px);
    border-top-left-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: rgb(106, 120, 209);
    transform: rotate(-135deg);
    top: -10px;
    left: 260.362px!important;
    border-top-color: transparent !important;
    border-left-color: transparent !important;

}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 1;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}
.opac{
   position: fixed;
  z-index: 3;
  background-color: #ffffffb3;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* Fin tooltip */

/* Fin login */
.google-sign-in {
    background-color: #5886d4 !important;
    border-color: #5886d4 !important;
    color: #fff !important;
    font-weight: 500 !important;
    border-radius: 3px !important;
    border-style: solid !important;
    border-width: 1px !important;
    font-size: 14px !important;
    text-transform: none !important;
    padding: 9px 24px !important;
  }
  
  .google-btn {
    width: 100%;
    height: 40px;
    background-color: #5886d4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 38px;
    height: 38px;
    border-radius: 2px;
    background-color: #fff;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    width: 18px;
    height: 18px;
    left: 9px;
  }
  .btn-text {
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 16px;
    padding-top: 5px;
  }
  .btn-text:hover {
    box-shadow: 0 0 6px #4285f4;
  }
  .btn-text:active {
    background: #1669f2;
  }
  
  
  .alerRed {
    background-color: #fdedee;
    border-color: #f8a9ad;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
  
    border-style: solid;
    border-width: 1px;
    min-height: 60px;
    padding: 8px 20px;
    position: relative;
    text-align: left;
  }
/* Fin login */


.mole {
    background-color: white;
    transition: background-color 0.5s;
  }
  
  .mole:hover {
    background-color: #f5f5f5;
    box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
  
  .bd-example {
    position: relative;
    padding: 2rem;
    border: 3px solid #eee;
  }
  .activate {
    display: block;
  }

  .activado {
    background-color: #e5f5f8 !important;
    box-shadow: 0 0 0 2px #00a4bd !important;
    border-style: none;
  }
  .noactive {
    border-color: #7fd1de;
    box-shadow: 0 0 0 1px #7fd1de;
    border-radius: 3px;
  }

 /*apartado de perfiles*/
 .piepagina {
    background: #f5f8fa;
    padding-left: 40px;
    padding-top: 18px;
    padding-bottom: 5px;
    border-top: 1px solid rgb(234, 240, 246);
    bottom: 0px;
  
    left: 0px;
    position: fixed;
    right: 0px;
    z-index: 9999;
  }
  .maperr {
    background: #fff;
    height: 72px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }
  .maperr:hover {
    opacity: 0.3;
    border-radius: 50%;
    cursor: pointer;
    background: rgb(81, 111, 144);
  }
  .fondot {
    max-height: 380px !important;
  }
  .upload-example-cropper {
    border: solid 1px #eee;
    min-height: 300px;
    width: 100%;
  }
  .button input {
    display: none;
  }
  .fontImg {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 248, 250);
    border: 1px dashed rgb(81, 111, 144);
    border-radius: 4px;
    color: rgb(124, 152, 182);
    position: relative;
  }
  .tabss {
      -webkit-font-smoothing: auto;
      
      font-weight: 400;
      font-size: 14px;
      padding: 10px 24px;
      color: rgb(51, 71, 91);
      position: relative;
      white-space: nowrap;
      transition: background-color 200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
      background-color: rgb(234, 240, 246);
      border-left: 1px solid rgb(203, 214, 226);
      cursor: pointer;
  }
  .tabss:hover{
    color: rgb(124, 152, 182);
  }
  .contenidotabs {
      display: inline-flex;
      margin-bottom: -1px;
      border: 1px solid rgb(203, 214, 226);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    
  }
  .tabsActive{
    font-weight: 600!important;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
  
  }

  /*header nanbar*/
  .s-header-notification {
    background-color: rgb(226, 241, 253);
    padding: 9px;
    text-align: left;
    border-radius: 0.3rem;
  }
  .bg-body, .bg-white {
    background-color: #ededf4; 
}
.navbar-vertical .navbar-nav>.nav-item .nav-link.actived {
   color: rgb(8, 8, 8);
   background-color: #eaf0f6;
   padding: 6px 20px 6px 15px;
   font-weight: 700;
   border-radius: 3px;
    
}
.letras{
    
 font-size: 14px;
 color: rgb(51, 71, 91);
}

.icons{
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px !important;
  color: black !important;
}
  /*ESTILOS PARA EL SELECT*/

.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
  background: #ffffff;
  font-size: 14px;
  font-family: AvenirNext LP Pro Regular, Helvetica, Arial, sans-serif;
  padding: 0 0 6px;
  color: #394066;
}

.style-chooser .vs__clear,
.style-chooser .vs__open-indicator {
  fill: #394066;
}

.vs__dropdown-toggle {

    border: 1px solid #cbd6e2 !important;

}

.vs__dropdown-option--highlight{background:#e5f5f8!important;color:#fff} 

div#bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.marco{
  padding:2px;
  box-shadow: 0 0 11px #eaf0f6;
  margin-top: 12px!important;
    margin-bottom: 12px!important;
    margin-left: 8px!important;
    flex: 1 1 0%;
    min-width: 200px;
    background: white;
        border-radius: 0.1875rem;
    transition: .3s ease-in-out;
}
.marco:hover{
    box-shadow: 0 10px 50px -5px rgb(51 71 91 / 12%)!important;
    transform: scale(1.014) !important;
}
.fondoazul{
  border-radius: 20%;
  background-color: #f5f8fa;
  box-shadow: 0 0 50px 50px #f9f9f9;
  
}

.anchos {
  border-right: 1px solid rgb(203, 214, 226);
    border-bottom: 1px solid rgb(203, 214, 226);     text-align: center;
    padding: 30px;cursor: pointer;
}
.flexible{
  flex: 1 1 0%;
  min-width: 250px;
}

.scrorable {
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}
.loadingg {
  background: rgba(9, 30, 66, 0.54);
  background-repeat: no-repeat;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  top: 0;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.inn {
  margin-top: 20%;
  text-align: center;
  padding: 2rem;
  font-weight: 600;
}
.selectores{
  position: absolute;
    top: 0%;
    left: 0;
    bottom: 0;
    background-color: #ffffffb3;
    right: 0;
     display: flex;
  justify-content: center;
  align-content: center;align-items: center;
    z-index: 1;
}
.enn{
  border-radius: 20%;
    background-color: #f9f9f9;
    box-shadow: 0 0 120px 200px #f9f9f9;text-align: center;
}
.selectOption{
  color: #878FB8;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}
.lecttabla{
  position: absolute;
  width: 80%;
  background-color: #ffffffb3;
   display: flex;
justify-content: center;
align-content: center;align-items: center;
  z-index: 1;
}
.alertdanger{
  background-color: #fef8f0;
    border-color: #fae0b5;
    color: #33475b;    border-style: solid;
    border-width: 1px;padding: 8px 20px;
}
.alertinfo{
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;    border-style: solid;
    border-width: 1px;padding: 8px 20px;
}
.flex-containes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: center;
}
.cajas{
margin-top: 12px!important;
margin-bottom: 12px!important;

    margin-left: 8px!important;
    margin-right: 8px!important;

    flex: 1 1 0%;
    min-width: 200px;
    background: white;

}
.cajas:hover{
  box-shadow: 0 0 0 1px #7fd1de, 0 0 20px 0 rgb(0 163 189 /30%);
}


.isDisabled{
  background-color: #eaf0f6!important;
    border-color: #eaf0f6!important;
    color: #b0c1d4!important;
    cursor: not-allowed !important;
}

.foco {
  border: 1px solid #7fd1de;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
}
.foco:hover {
  box-shadow: 0 0 0 1px #7fd1de, 0 0 12px 0 rgb(0 163 189 /30%);
}
.foco2 {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%), 0 0 0 1px rgb(0 0 0 / 4%);
  min-height: 165px;
  z-index: 2;
  padding: 26px 20px 7px;
  position: relative;
  transition-property: all;
  transition-duration: 170ms;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.foco2:hover {
  box-shadow: 0 5px 8px 0 rgb(35 47 62 / 29%);
    cursor: pointer;
}

.borde0 {
  border-top: 5px solid #232f3e;
}
.borde1 {
  border-top: 5px solid #516f90;
}
.borde2 {
  border-top: 5px solid #f5c26b;
}
.borde3 {
  border-top: 5px solid #00bda5;
}
.borde4 {
  border-top: 5px solid #00a4bd;
}
.borde5 {
  border-top: 5px solid #99acc2;
}
.borde6{
  border-top: 5px solid #232f3e;
}
.borde7 {
  border-top: 5px solid #516f90;
}

.hsg-deferred.hsg-deferred-loaded,
.hsg-deferred[data-was-processed="true"] {
  opacity: 1;
}

.product-core-blobs-desktop {
  display: block;
}

.product-core-blobs-mobile,
.product-core-blobs-desktop {
  width: 100%;
  height: auto;
}
.hsg-deferred {
  transition: opacity 0.35s ease-out;
  opacity: 0;
  overflow: hidden;
}
.img {
  max-width: 100%;
}
.freemeeting-tip {
  border-radius: 3px;
  background-color: rgba(254, 116, 37, 0.1);
  border: solid 1px #fe7425;
  padding: 15px;
  margin-top: -8px;
}
.cabesa{
        background-color: #00bda5;
    background-image: linear-gradient(
-303deg,#00a4bd,#00afb2 56%,#00bda5);
    color: #fff;

}
.fjrDCGRR_tab {
  display: flex;
  margin-bottom: -1px;
  border-bottom: 1px solid rgb(203, 214, 226);
}
.inn_tab{
  font-size: 16px;
  padding: 12px 28px;
  color: rgb(51, 71, 91);
  position: relative;
  transition-property: color;
  white-space: nowrap;
}
.eeEHPkk {
  transition: all 150ms ease-out 0s;
  background-color: currentcolor;
  border-radius: 1px;
  bottom: -2.5px;
  height: 5px;
  left: 0px;
  position: absolute;
  width: 100%;
  z-index: 1;
  opacity: 1 !important;
}

.iconMenu{
  color:black !important;   
  font-size: 16px !important;
}
/*  estilos de header task*/
.toasted {
  color: white !important;
  background-color: black !important;
  height: 55px !important;
}
.toasted .primary .action,
.toasted.toasted-primary .action {
  color: white !important;
}
.cajasTask {
   background-color: #ffffff; 
   padding: 0.7rem;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  box-shadow: 0 2px 4px rgb(174 190 205 / 30%), 0 0 0 1px rgb(0 0 0 / 3%);
}
.cajasTask:hover {
  box-shadow: 0 5px 8px 0 rgb(35 47 62 / 29%);
  cursor: pointer;
}
.negros{
  color: black;
}
.contectImg {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6.25rem;
  background: rgb(124, 152, 182);
  white-space: nowrap;
  padding: 0.5rem 1rem;
}
.formImg {
  height: 1.5rem;
  filter: brightness(0) invert(1);
}
.liTask{
    padding-bottom: 12px;
}

.dg-content {
  font-family: Avenir Next W02, Helvetica, Arial, sans-serif !important;
}

.targetas1 {
  border-radius: 3px;
  min-height: 160px;
  box-sizing: border-box;
  transition: box-shadow 0.25s ease-in-out 0s;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%), 0 0 0 1px rgb(0 0 0 / 4%);
  overflow: hidden;
  display: block;
  cursor: pointer;
}
.targetas1:hover {
  box-shadow: rgb(9 30 66 / 25%) 0px 8px 16px -4px,
    rgb(9 30 66 / 31%) 0px 0px 1px;
}

.view-leave-active {
  transition: opacity 0.2s ease-in-out, transform 0.2s ease;
}

.view-enter-active {
  transition: opacity 0.2s ease-in-out, transform 0.2s ease;
  transition-delay: 0.2s;
}

.view-enter,
.view-leave-to {
  opacity: 0;
  transform: translateY(100%);
}

.view-enter-to,
.view-leave {
  opacity: 1;
}

.form-check:not(.form-switch) .form-check-input[type=checkbox]:after {
  color: rgb(0, 164, 189) !important;
  font-size: .85rem !important;
  background-color: white !important;
  outline: 2px solid rgb(0, 164, 189) !important;
}
.form-check-input:checked[type=checkbox], .form-check-input:checked[type=radio] {
 background-image: linear-gradient(
310deg,rgb(0, 164, 189),rgb(0, 164, 189)) !important;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #344767;
  background-color: #e5f5f8 !important;
}
.colorIcon{
  color:black !important;
}
.flex-containes2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: flex-start;
}
.cajas2{
margin-bottom: 20px!important;
margin-right: 20px!important;
flex: 1 1 0%;
min-width: 200px;
background: white;
max-width: 200px;
min-height: 205px;
border-radius: 3px;
transition: box-shadow 0.25s ease-in-out 0s;
box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%), 0 0 0 1px rgb(0 0 0 / 4%);
}
.cajas2:hover {
  box-shadow: rgb(9 30 66 / 25%) 0px 8px 16px -4px, rgb(9 30 66 / 31%) 0px 0px 1px;
}
.cLLkJw {
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  align-items: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-width: 100%;
  width: 100%;
}
.m-right-8 {
  padding-left: 8px;
}
.fdYSBu {
  flex: 0 0 195px;
  -webkit-box-flex: 0;
}
.ifjUET {
  flex: 1 1 auto;
  -webkit-box-flex: 1;
}
.itemActive{
  background-color: rgb(234, 240, 246);
    font-weight: 600;
    border-radius: 3px; font-size: 14px;
    line-height: 16px;
    padding: 12px;
    position: relative;
    text-decoration: none;
    width: calc(100% + 12px);
}
.textos {
  text-transform: lowercase;
}
.textos:first-letter {
  text-transform: uppercase;
}
.dg-backdrop {
  background-color: rgb(0 19 51 / 64%) !important;
    z-index: 11111 !important;
}
.dg-container {
    z-index: 11111 !important;
}
.text-negro{
  color: rgb(10 10 10);
}
.text-verde{
  color: rgb(11, 212, 193);
}
.text-azul{
  color:#4b22f4;
}
.dg-btn--ok {
    color: white !important;
    background-color: black !important;
    border-color: black !important;
}
.dg-btn--cancel {
    color: #070000 !important;
    background-color: rgb(239, 239, 239) !important;
}
.dg-btn-loader .dg-circle {
    width: 0.6em !important;
    height: 0.6em !important;
    background-color: #f9f9f9 !important;
    
}
.form-switch .form-check-input {
  border: none !important; 
 position: relative;
 background-color: rgb(245, 248, 250) !important;
     padding: 5px;
 height: 26px !important;
 width: 52px !important;
 box-shadow: rgb(203 214 226) 0px 0px 0px 1px inset;
}
.form-switch .form-check-input:after {
 top: 0 !important;
 transition: transform .25s ease-in-out,background-color .25s ease-in-out;
 width: 26px !important;
 height: 26px !important;
 border-radius: 3px !important;
 box-shadow: rgb(203 214 226) 0px 0px 0px 1px, rgb(0 0 0 / 8%) 0px 5px 5px 0px !important;
 /* top: 1px; */
}
.form-switch .form-check-input {
 border-radius: 3px !important;

}
tr:hover {
 background-color: rgb(245, 248, 250);
} 
.fc-h-event {
 display: block;
 border: 1px solid #3788d8;
 border: 1px solid var(--fc-event-border-color,#3788d8);
 background-color: #007dbc !important;
 background-color: var(--fc-event-bg-color,#3788d8);
 cursor: pointer;

}
.cardTitle {
  color: #1d1c1d;
  font-size: 20px;
  line-height: 1.45;
}
.progress-bar-container--container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.__cov-progress {
    opacity: 1;
    z-index: 99999;
    background-color: rgb(8, 8, 8) !important;
    opacity: 0;
    position: fixed;
    width: 0%;
    height: 2px !important;
    transition: opacity 0.6s ease 0s;
     top: auto !important;
     left: auto !important;
}
.cardSubTitle {
  font-size: 13px!important;
  color: #516f90!important;
}
.carde {
  margin-right: 20px;
  margin-bottom: 18px;
  background-color: #ffffff;
  border-radius: 0.4rem;
  box-shadow: 0 5px 10px rgb(174 190 205 / 45%), 0 0 0 1px rgb(0 0 0 / 3%);
  overflow: hidden;
  width: 235px;
}
.mosText{
    position:absolute;
  overflow:hidden;
  width: 230px;
  border-top-left-radius: 10px;
  height: 130px;
  background-color: rgba(81,111,144,.85);
  opacity:0;
  
}
.carde:hover  {
  box-shadow: none;
    /* box-shadow: rgb(9 30 66 / 25%) 0px 8px 16px -4px, rgb(9 30 66 / 31%) 0px 0px 1px; */
}
.s-texo-description{
  color: white
}
@media screen and (max-width: 846px) {
  .carde{
    width: 100%;
  }
  .s-texo-description{
   font-size: 30px;
  }
}

.card-header1 img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  cursor: pointer;
}
.s-header-img{
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  filter: brightness(0) invert(1);
}
.s-header-cards:hover .s-header-img{
  transform: scale(1.05);
}
.card-header1:hover .mosText {
  opacity:1;
  color:rgb(255, 255, 255);
  cursor: pointer;
  padding-top: 20%;
  text-decoration: none;
}
.card-bodys {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  min-height: 130px;
}

.tag {
  background: #cccccc;
  border-radius: 0.25rem;
  font-size: 12px;
  margin: 0;
  color: #139baa;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #00bda5;
}
.tag-purple {
  background-color: #e1fef1;
  
}
.tag-pink {
  background-color: #cd5b9f;
}


.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}
.animations-0 {
  animation-delay: .0s;
}
.animations-1 {
  animation-delay: .1s;
}
.animations-2 {
  animation-delay: .2s;
}
.animations-3 {
  animation-delay: .3s;
}
.animations-4 {
  animation-delay: .4s;
}
.animations-5 {
  animation-delay: .5s;
}
.animations-6 {
  animation-delay: .6s;
}
.animations-7 {
  animation-delay: .7s;
}
.animations-8 {
  animation-delay: .8s;
}
.animations-9 {
  animation-delay: .9s;
}
.animations-10 {
  animation-delay: 1s;
}
.animations-11 {
  animation-delay: 1s;
}
.animations-12 {
  animation-delay: 1s;
}
.animations-13 {
  animation-delay: 1s;
}
.animations-14 {
  animation-delay: 1s;
}
.animations-15 {
  animation-delay: 1s;
}
.animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeInUp {
0% {
  opacity: 0;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

100% {
  opacity: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
}
body.modal-open {
  overflow: hidden;
}

.isPaginateActive{
  border-width: 2px;
    border-style: solid;
    border-color: #E8EAF0;
        border-radius: 5px;
       padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.isPaginateh{
  padding-bottom: 8px !important;
}
.isNoActive{
  border-width: 0px !important;
    border-style: none;
    border-color: #E8EAF0;
    border-radius: 5px;
    padding: 8px !important;
}
.fadeIn1 {
    -webkit-animation-duration: 0.2s !important;
    animation-duration: 0.2s !important;
}
.notificacionHeader{
    background-color: rgb(229, 245, 248);
    background-color: rgba(135,143,184,0.16);
    padding: 12px;
    text-align: left;
}
.cqKvgt {
  height: 10px;
  width: 10px;
  background-color: rgb(245, 194, 107);
  border-radius: 100%;
  display: inline-block;
  margin-right: 8px;
}
.bOSBYo1 {
  display: flex;
  height: 200px;
  max-width: 100%;
  padding-top: 16px;
  flex-direction: column;
  color: inherit;
  background: rgb(222, 235, 255);
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-image: initial;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: rgb(9 30 66 / 25%) 0px 1px 1px, rgb(9 30 66 / 31%) 0px 0px 1px;
  transition: box-shadow 0.3s ease-in-out 0s, border-color 0.6s ease-in 0s;
}
.fwkeBY1 {
  border-radius: 3px;

  box-sizing: border-box;
  transition: box-shadow 0.25s ease-in-out 0s;
  box-shadow: rgb(9 30 66 / 25%) 0px 1px 1px, rgb(9 30 66 / 31%) 0px 0px 1px 0px;
  overflow: hidden;
  display: block;
  cursor: pointer;
}
.fwkeBY1:hover {
  box-shadow: rgb(9 30 66 / 25%) 0px 8px 16px -4px,
    rgb(9 30 66 / 31%) 0px 0px 1px;
}
.esnRuO1 {
  background: rgb(244, 245, 247);
}

.targetas {
  border-radius: 3px;
  height: 180px;
  box-sizing: border-box;
  transition: box-shadow 0.25s ease-in-out 0s;
  box-shadow: rgb(9 30 66 / 25%) 0px 1px 1px, rgb(9 30 66 / 31%) 0px 0px 1px 0px;
  overflow: hidden;
  display: block;
  cursor: pointer;
}
.targetas:hover {
  box-shadow: rgb(9 30 66 / 25%) 0px 8px 16px -4px,
    rgb(9 30 66 / 31%) 0px 0px 1px;
}
/* CARTS POR 3*3*/
@media screen and (max-width: 845px){
  .intro_cards {
      margin-bottom: 22px;
  }
  }
  
  .iconColor {
    font-size:22px;
    color:rgb(5, 5, 5);;
  }
  @media screen and (min-width: 846px) {
    .intro_cards .intro_cards_container {
      background: url(https://a.slack-edge.com/80588/helpcenter/img/thinLine.png) 33.3% center/1px 90%
          no-repeat,
        url(https://a.slack-edge.com/80588/helpcenter/img/thinLine.png) 66.6% center/1px 90% no-repeat,
        url(https://a.slack-edge.com/80588/helpcenter/img/thinLine.png) center center/90% 1px no-repeat;
    }
  }
  
  @media screen and (min-width: 701px){
  .intro_cards .cardg {
      background-color: #f4f7fa;
      min-height: 250px;
  }
  }
  
  .intro_cards .intro_card_container:hover .img__description  {
    visibility: visible;
    opacity: 1;
    backdrop-filter: blur(2px);
      -webkit-transform:  scale(1.055, 0.2);
      -moz-transform:  scale(1.055);
      -ms-transform:  scale(1.055);
      -o-transform: scale(1.055);
      transform:  scale(1.075, 1.02);
  }
  .intro_cards .intro_cards_container {
    max-width: 1000px;
    margin: 0 auto;
  }
  @media screen and (max-width: 845px){
  .intro_cards .intro_card_container {
      width: 49.6% !important;
  }
  }
  
  .img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(81,111,144,.85);
    border-radius: 3px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  .s-centers{
    margin-top: 31% !important;
  }
  .intro_cards .intro_card_container {
    padding-left: 10px;
    padding-right: 10px;
    width: 33%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1px;
    margin-top: 1px;
  }
  @media screen and (min-width: 701px) {
    .intro_cards .cardg {
      background-color: #f4f7fa;
      min-height: 300px;
    }
  }
  .intro_cards .carmen {
    z-index: 2;
     min-height: 230px;
     padding: 25px 10px 0;
    position: relative;
    transition-property: all;
    transition-duration: 170ms;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .align_center {
    text-align: center;
  }
  .intro_cards .card_image {
      width: auto;
      height: 70px;
      margin: 0 auto 7px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
  }
  /*  FIN CART*/

  .vue-dropzone>.dz-preview .dz-details {
    background-color: rgb(0, 163, 141) !important;
    border-radius: 20px !important;
    height: 150px !important;
}
.dropzone .dz-preview {
  height: 160px !important;
  margin-top: -16px !important;
}
.icono-regresar{
  font-size: 34px !important; color: black;
}
.titulo-principla{
  font-weight: 700;color:#181B32; font-size: 17px;padding: 0 !important;
}


.alerta {
  background: linear-gradient(89deg, #ff7a59, #f2547d);
  color: #fff;
}
.base-lista {
  width: 50%;
}

.list-decoration {
  background: #f4f5f8;
  border-radius: 5px;
  padding: 8px;
}

.s-span{
  background: #dadada;
    padding: 0.1rem 0.25rem;
    width: -webkit-max-content;
    width: max-content;
    border-radius: 0.15rem;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 500;
    color: black;
    font-size: 13px!important;
}
.s-decoration-none {
  text-decoration: none !important;
}
.s-shadow {
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}
.flex-none {
  flex: none;
}
.card-template {
  position: relative;
  background: white;
  border-radius: 0.4rem;
  border: 1px solid #ecf0f3;
  width: 200px;
  margin-left: 15px !important;
  max-height: 250px;
   margin-bottom: 20px;
   box-shadow: 0 4px 6px rgb(174 190 205 / 40%);
}
 .category-card:hover img {
    transform: scale(1.1);
}
.s-borde-0 {
    border-top: 4px solid rgb(98 183 244) !important;  
}
.s-borde-1 {
    border-top: 4px solid rgb(164 137 241) !important;  
}
.s-borde-2 {
    border-top: 4px solid rgb(68 213 167) !important;  
}
.s-borde-3 {
    border-top: 4px solid rgb(237 94 118) !important;  
}
.s-borde-4 {
    border-top: 4px solid rgb(255 206 122) !important;  
}
.s-borde-5 {
    border-top: 4px solid black !important;  
}

.s-borde-6 {
  border-top: 4px solid rgb(98 183 244) !important;  
}
.s-borde-7 {
  border-top: 4px solid rgb(164 137 241) !important;  
}
.s-borde-8 {
  border-top: 4px solid rgb(68 213 167) !important;  
}
.s-borde-9 {
  border-top: 4px solid rgb(237 94 118) !important;  
}
.s-borde-10 {
  border-top: 4px solid rgb(255 206 122) !important;  
}
.s-borde-11 {
  border-top: 4px solid black !important;  
}
.s-borde-12 {
  border-top: 4px solid rgb(98 183 244) !important;  
}
.s-center {
  text-align: center;
}
.s-py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.s-px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.s-mb-1 {
    margin-bottom: 0.5rem;
}
.s-title-page {
  font-weight: 700;color:#181B32; font-size: 16px;
}
.s-table-flush {
  border-color: rgb(223, 227, 235) !important;
  border-style: solid;
  border-width: 0px 1px 1px; 
  border-top: 1px solid rgb(223, 227, 235);
}
.s-icon-all{
  border: 2px solid; 
  color: rgb(0, 164, 189); 
  height: 19px; width: 19px; 
  border-radius: 3px; 
  cursor: pointer;
}
.s-bajo-capo{
  background-color: white;

}
.s-bajo-capo:hover .s-focal{
  visibility: visible;
  opacity: 1;
  backdrop-filter: blur(4px);
    -webkit-transform:  scale(1.055, 0.2);
    -moz-transform:  scale(1.055);
    -ms-transform:  scale(1.055);
    -o-transform: scale(1.055);
    transform:  scale(1.075, 1.02);
}
.s-focal{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(99 117 133 / 25%);
  color: #fff;
  visibility: hidden;
  opacity: 0; 
}
.btn-vercel{
  border-radius: 5px !important;
    color: #fff !important;
    background: #000 !important;
    border: 1px solid #000 !important;
    font-weight: 500 !important;
    padding: 7px 16px 1px 16px !important; 
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
    height: 2.25rem !important;
    text-transform: none !important;
}
.btn-vercel:hover{
  background: white !important;
  color: #000 !important;
  border: 1px solid #000 !important;
}
.btn-vercel-white{
  border-radius: 5px !important;
  color: #666 !important;
  background: white !important;
  border: 1px solid #c7c6c6 !important;
  font-weight: 500 !important;
  padding: 8px 16px 8px 16px !important; 
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  text-transform: none !important;

}
.btn-vercel-white:hover{
  color: #000 !important;
  border: 1px solid #000 !important;
}

/*Nuevo focal*/

.projects_projects__f_nDO {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
.styles_projectCardWrapper__zSMNk {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgb(174 190 205 / 45%), 0 0 0 1px rgb(0 0 0 / 3%);
}
.styles_projectCard__2QnBU {
  display: block;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  min-width: 198px;
  
  transition: box-shadow .15s ease;
}
.s-mopa:hover{
  box-shadow: 0 10px 20px rgb(174 190 205 / 45%), 0 0 0 1px rgb(0 0 0 / 3%);
}
.link_link__LTNaQ {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}
.styles_projectCardWrapper__zSMNk:hover .styles_visitButton__Nc7Vp{
  visibility: visible;
  opacity: 1;
  
}
.styles_projectCardDetails__vcWBi {
  padding: 24px;
}
.stack_stack__A16oG {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex: initial;
}
.stack_stack__A16oG {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex: initial;
}
.avatar_avatar__OLijw {
  width: 35px;
  height: 35px;
  color:white;
  flex-shrink: 0;
  border-radius: 100%;
  display: inline-block;
  overflow: hidden;
  line-height: 0;
  vertical-align: top;
  background: #fff;
  transition: border .2s ease,background .2s ease;
  box-sizing: border-box;
  
}
.in-avatar{
  /* filter: brightness(0) invert(1); */
  padding: 5px;
  padding-top: 15px;
  color: #fff;
}
.stack_stack__A16oG {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex: initial;
}
.styles_visitButton__Nc7Vp {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(25%,-25%);
   opacity: 0; 
  pointer-events: none;
  transition: .15s ease;
  transition-property: opacity,transform;
}
.s-btn-redondo{
  border-radius: 100%;
  background: #000;
  height: 30px;
  padding: 5px 8px 6px 6px;
  color: white;
}
.ql-editor {
  min-height: 80px !important;
  font-family: AvenirNext LP Pro Regular, Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  background: #fff;
}


.s-active{
  background: rgb(211 229 255);
}

.s-container {
  position: relative;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}
.fieldset_content__0_ovL {
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 24px;
}
.fieldset_footer__VRdEd {
  position: relative;
  min-height: 54px;
  align-items: center;
  background-color: #fafafa;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid #eaeaea;
  color: #444;
  font-size: .875rem;
  padding: 12px 24px;
  box-sizing: border-box;
  line-height: 1.6;
}
.s-delete{
  border: 1px solid #e00;
  border-radius: 5px;
}
.s-title{
  font-size: 1.25rem;
    letter-spacing: -.020625rem;
    font-weight: 600;
    color: rgb(4, 4, 4);
}
.s-text-versel{
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.6;
  color: black;
}
.s-ifactive{
  background: #c2dbff;
}
.button-less {
  border: 0;
  padding: 5px 15px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.12);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.12);
  box-shadow: 0 5px 10px rgba(0,0,0,.12);
  outline: 0;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  color: rgb(15, 15, 15);
  height: 28px;
  background-color: #fff;
} 
.s-regresar{
  font-size: .875rem;
  color: #444;
}
